* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  margin-top: 50px;
}

.top{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(103,62,240,1) 35%, rgba(0,212,255,1) 100%); 
}

.card{
  background-color: transparent;
}

.card1 {
  margin-left: 100px;
  height: 100%;
}

.card1>h6{
  color:#fff;
}


.card2 {
  display: none;
}

.card2.show {
  display: block;
}

.select {
  width: 100%;
}

.next-button {
  width: 100%;
  height: 32px;
  background-color:transparent;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid #fff;
}

.next-button:hover {
  box-shadow: 2px 2px 2px #fff;
  
}

#progressbar {
  position: absolute;
  left: 35px;
}

#progressbar li {
  list-style-type: none;
  margin-bottom: 36px;
}


#progressbar .step0:before {
  content: "";
  color: #fff;
}

#progressbar li:before {
  width: 30px;
  height: 30px;
  display: block;
  background: #fff;
  border: 2px solid #ff8100;
  border-radius: 50%;
}

#progressbar li:after {
  content: "";
  width: 3px;
  height: 250px;
  background: #bdbdbd;
  position: absolute;
  top: 15px;
  z-index: -1;
}

#progressbar li:last-child:after {
  top: 147px;
  width: 3px !important;
  height: 100%;
  display: none;
}


#progressbar li:nth-child(2):after {
  top: 0px;
}



#progressbar li.active:after {
  background: #ff8100;
}

#progressbar li.active:before {
  background: #ff8100;
  font-family: FontAwesome;
  content: "\f00c";
}

.success_msg {
  width: 150px;
  height: 150px;
}

.prev {
  display: block;
  position: absolute;
  left: 40px;
  top: 20px;
  cursor: pointer;
}

.licensing_cards {
  overflow-x: scroll;
  height: 400px;
  margin-bottom: 20px;
  border: none !important;
  background-color: transparent!important;
}

.licensing_cards > span {
  border: 1px solid #fff;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  color:#fff;
}

.licensing_cards > span:hover {
  width: auto;
  height: auto;
  overflow: hidden;
  transform: scale(1.1);
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 2px 2px 2px #fff;
 
}

.type_of_req_cards {
  overflow: scroll;
  
}
.type_of_req_cards > .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 350px;
  border: none;
  background-color: transparent;
}

.type_of_req_cards > .card > span {
  border: 1px solid #fff;
  margin: 10px;
  border-radius: 5px;
  width: 85%;
  height: 50px;
  font-size: smaller;
  color: #fff;
}

.type_of_req_cards > .card > span:nth-child(8) {
  margin-bottom: 20px;
}

.type_of_req_cards > .card > span:hover {
  width: 90%;
  height: 50px;
  display: block;
  transform: scale(1.1);
  transition: all 1s !important;
  filter: grayscale(100%);
  cursor: pointer;
  box-shadow: 2px 2px 2px #fff;
}

.type_of_req_cards > .card > span > p {
  padding: 15px;
}

.personal_det {
  background: rgba(0, 0, 0, 0.1);
  width: 413px !important;
  padding: 30px 20px 50px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.personal_det_body>h3{
  color: #fff;
  text-align: center!important;
}

.personal_det_body>input{
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 6px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}
.personal_det_body>input::placeholder{
  color: #fff;
}

.sub_and_desc{
  background: rgba(0, 0, 0, 0.1);
  width: 413px;
  padding: 30px 20px 50px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.sub_and_desc_body>input{
width: 100%;
background: transparent;
border: 1px solid #fff;
/* margin: 6px 0; */
height: 32px;
border-radius: 20px;
padding: 0 10px;
box-sizing: border-box;
outline: none;
text-align: center;
color: #fff;
}

.sub_and_desc_body>textarea{
width: 100%;
background: transparent;
border: 1px solid #fff;
margin-bottom:30px;
border-radius: 20px;
padding: 10px 10px;
box-sizing: border-box;
outline: none;
text-align: center;
color: #fff;
}

.sub_and_desc_body>input::placeholder,.sub_and_desc_body>textarea::placeholder{
  color: #fff;
}


@media only screen and (min-width: 250px) and (max-width: 767px) {
  .card1_main {
    margin-top: 30px;
  }

  .card2_main {
    margin-left: 0 !important;
  }

  .top {
    padding: 0 !important;
  }

  .main_card1 {
    margin-top: 30px;
  }

  .main_container {
    width: 100%;
  }
}

